[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "oldest-supported-numpy"
]
build-backend = "setuptools.build_meta"

[project]
name = "bjdata"
requires-python = ">=3.7"
dependencies = ["numpy>=1.19"]
